@charset "utf-8";

/* 上部分 */
h3 {
    margin-top: 100px;
    margin-bottom: 60px;
    margin-left: 15%;
    color: #031c63;
    font-size: 28px;
}

h4 {
    color: #031c63;
    font-size: 18px;
    border-bottom: 1px solid #bedaf6;
}

@media screen and (max-width: 767px) {
    h3 {
        margin: 80px auto 30px;
        text-align: center;
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
        max-width: 500px;
    }
}

/* 写真 */
/* バナー */

.bannerweb_img {
    max-width: 890px;
    margin: 0 auto 100px;
    text-align: center;
}

.mobile {
    height: 430px;
}

.sp {
    height: 300px;
    padding-left: 15px;
}

.ice,
.burgerluxu {
    height: 500px;
}

.burgerpop {
    height: 400px;
}

@media screen and (max-width: 900px) {
    .burgerpop {
        height: 300px;
    }
}

@media screen and (max-width: 767px) {

    .bannerweb_img {
        margin: 80px auto 50px;
        max-width: 500px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .sp {
        display: none;
    }

    .mobile,
    .ice,
    .burgerluxu,
    .burgerpop {
        height: 100%;
        width: 100%;
    }
}


/* 下部分 */
.box {
    display: flex;
    max-width: 890px;
    margin: 0 auto;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.box p {
    color: #00002d;
    font-size: 16px;
    line-height: 1.7;
    margin-top: -18px;
}

.box1 {
    max-width: 580px;
    padding-right: 20px;
    width: 65%;
}

.box2 {
    max-width: 280px;
    width: 30%
}

/* webサイトの詳細部分 */
.sample {
    max-width: 750px;
    align-self: flex-start;
    display: flex;
    margin: 250px auto 100px;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.hair_pc {
    margin: 0 auto;
}

.sp_choice,
#sp_sample1,
#sp_sample2 {
    display: none;
}

@media screen and (max-width: 767px) {
    .box {
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    .box1 {
        padding-right: 0;
        width: 100%;
    }

    .box2 {
        width: 100%;
        max-width: 500px;
    }

    .box p {
        font-size: 13px;
    }

    .sample {
        display: none;
    }

    .sp_choice {
        display: block;
        margin: 0 auto 80px;
    }

    button {
        cursor: pointer;
    }

    .pc_modal,
    .sp_modal {
        padding-block: 0;
        padding-inline: 0;
        border-width: 0;
        background-color: transparent;
        color: #00002d;
    }

    .sp_choice ul {
        display: flex;
        justify-content: center;
        font-size: 13px;
    }

    .yajirusi1,
    .yajirusi2 {
        display: inline-block;
        text-align: center;
        margin: 0 20px;
    }

    .yajirusi1::after,
    .yajirusi2::after {
        display: block;
        content: '';
        width: 100px;
        height: 10px;
        border-right: 1px solid #bedaf6;
        border-bottom: 1px solid #bedaf6;
        transform: skew(45deg);
    }

    #sp_sample1,
    #sp_sample2 {
        position: fixed;
        inset: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-color: rgba(3, 28, 99, 0.9);
        padding: 16px;
        display: none;
    }

    .modal_title p {
        text-align: center;
        color: white;
        padding: 40px 0 50px;
        font-size: 15px;
    }

    .sp_port_pc {
        max-width: 425px;
        margin: 0 auto;
        height: 100%;
        /* 親要素と同じ高さ */
        overflow-y: scroll;
    }

    .sp-inner {
        height: 100%;
        overflow: scroll;
        /* スクロール設定 */
    }

    .sp_pc-content {
        min-height: 600px;
    }

    .sp_port_mobile {
        max-width: 300px;
        margin: 0 auto;
        height: 100%;
        /* 親要素と同じ高さ */
        overflow-y: scroll;
    }

    .sp_mobile-content {
        min-height: 600px;
        text-align: center;
    }

    .sp_mobile-content img {
        max-width: 500px;
        width: 100%;
    }


    /* モーダルのバツ印 */
    .modal_close {
        display: block;
        height: 21px;
        /* 位置の調整 */
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
        /* 重なり具合 */
        z-index: 2;
    }

    .modal_close span {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 1px;
        background: #fff;
        /* 位置の調整 */
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .modal_close span::before,
    .modal_close span::after {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 1px;
        background: #fff;
        /* 位置の調整 */
        position: absolute;
        transition: 0.3s;
    }

    .modal_close span::before {
        bottom: 10px;
    }

    .modal_close span::after {
        top: 10px;
    }

    .modal_close span {
        background-color: transparent;
    }

    .modal_close span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .modal_close span::after {
        top: 0;
        transform: rotate(-45deg);
    }
}



/* 一覧へのボタン */
.banner_btn p {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    padding: 40px 0px;
}

.banner_btn {
    border-radius: 45px;
    background-color: #2845a3;
    width: 250px;
    margin: 170px auto 160px;
    box-shadow: 0 7px 0 #031c63;
}

.banner_btn:hover {
    transform: translateY(7px);
    box-shadow: none;
}


@media screen and (max-width: 767px) {
    .banner_btn p {
        font-size: 12px;
        padding: 20px 0px;
    }

    .banner_btn {
        border-radius: 27px;
        width: 150px;
        margin: 150px auto 70px;
        box-shadow: 0 5px 0 #031c63;
    }
}