@charset "utf-8";

/* ヘッダー */
#HEADER {
    position: relative;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 3% 0 1.5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo {
    width: 150px;
}

.top_photo img {
    width: 100%;
}

.pc_nav ul {
    display: flex;
    gap: 50px;
}

.pc_nav li {
    color: white;
    font-size: 16px;
    font-weight: SemiCondensed;
}

/* バナー（デザスタmobile） */
/* 上部分 */
h3 {
    margin: 100px 0 60px 220px;
    color: #031c63;
}

h4 {
    color: #031c63;
    font-size: 18px;
    border-bottom: 1px solid #bedaf6;
}

.bannerweb_img {
    max-width: 890px;
    margin: 0 auto 100px;
}

/* 写真 */
/* バナー */
.mobile {
    height: 430px;
}

.sp {
    height: 300px;
    padding-left: 15px;
}

.ice,
.burgerluxu {
    height: 600px;
}

.burgerpop {
    height: 400px;
}




/* 下部分 */
.bannerweb ul {
    display: flex;
    max-width: 890px;
    margin: 0 auto;
    justify-content: space-between;
}

.bannerweb p {
    color: #00002d;
    font-size: 16px;
    line-height: 1.7;
    margin-top: -18px;

}

.box1 {
    max-width: 580px;
}

.box2 {
    max-width: 280px;
}

/* webサイトの詳細部分 */
.sample {
    max-width: 740px;
    margin: 0 auto 80px;
    align-self: flex-start;
    display: flex;
    margin: 250px auto 100px;
    justify-content: space-between;
}



/* 一覧へのボタン */
.banner_btn p {
    color: #ffffff;
    font-size: 18px;
    display: inline-block;
    padding: 0 85px;
}

.banner_btn {
    border-radius: 45px;
    background-color: #2845a3;
    padding: 40px 0px;
    width: 250px;
    margin: 170px auto 160px;
    box-shadow: 0 7px 0 #031c63;
}

.banner_btn:hover {
    transform: translateY(7px);
    box-shadow: none;
}


/* フッター */

#FOOTER {
    position: relative
}

#FOOTER img {
    width: 100%;
}

.footer_wrap {
    position: absolute;
    top: 24%;
    left: 45%;
}

.footer_wrap p {
    color: white;
    margin-top: 30px;
}

/* ページトップボタン */
.pagetop {
    position: fixed;
    right: 150px;
    bottom: 50px;
    width: 150px;
}