@charset "utf-8";

/* バナー（デザスタmobile） */
/* 上部分 */
h3 {
    /* margin: 100px 0 60px 220px; */
    margin-top: 100px;
    margin-bottom: 60px;
    margin-left: 15%;
    color: #031c63;
    font-size: 28px;
}

h4 {
    color: #031c63;
    font-size: 18px;
    border-bottom: 1px solid #bedaf6;
}

.bannerweb_img {
    max-width: 890px;
    /* width: 65%; */
    margin: 0 auto 100px;
    text-align: center;
}

@media screen and (max-width: 1185px) {
    .banner_img img {
        max-width: 595px;
    }
}

@media screen and (max-width: 767px) {
    h3 {
        margin: 80px auto 30px;
        text-align: center;
        font-size: 18px;
    }

    h4 {
        font-size: 16px;
    }

    .bannerweb_img {
        max-width: 85%;
        margin-top: 80px;
        margin-bottom: 50px;
    }
}

/* 写真 */
/* バナー */
.mobile {
    height: 430px;
}

.sp {
    height: 300px;
    padding-left: 15px;
}

.ice,
.burgerluxu {
    height: 600px;
}

.burgerpop {
    height: 400px;
}


@media screen and (max-width: 767px) {

    .banner_img sp {
        display: none;
    }
}


/* 下部分 */
.box {
    display: flex;
    max-width: 890px;
    margin: 0 auto;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.box p {
    color: #00002d;
    font-size: 16px;
    line-height: 1.7;
    margin-top: -18px;
}

.box1 {
    max-width: 580px;
    padding-right: 20px;
}

.box2 {
    max-width: 280px;
}

/* webサイトの詳細部分 */
.sample {
    max-width: 750px;
    align-self: flex-start;
    display: flex;
    margin: 250px auto 100px;
    justify-content: space-between;
}

.sample_hair {
    text-align: center;
    margin: 250px auto 100px;
}

.sp_choice,
.sp_sample {
    display: none;
}

@media screen and (max-width: 767px) {
    .box {
        flex-direction: column;
        max-width: 85%;
    }

    .box p {
        font-size: 13px;
    }

    .sample {
        display: none;
    }

    .sp_choice {
        margin: 0 auto 40px;
    }

    .sp_choice ul {
        display: flex;
        justify-content: space-evenly;
        font-size: 13px;
    }

    #sp_sample {
        position: fixed;
        inset: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        background-color: rgba(3, 28, 99, 0.8);
    }

    .sp_port_pc {
        width: 300px;
        height: 200px;
        padding: 16px;
        /* モーダルの内側のpadding */
        background-color: rgba(3, 28, 99, 0.8);
    }

    .sp-inner {
        height: 100%;
        overflow: scroll;
        /* スクロール設定 */
    }

    .sp_pc-content {
        min-height: 600px;
        background-color: lightblue;
    }
}



/* 一覧へのボタン */
.banner_btn p {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.banner_btn {
    border-radius: 45px;
    background-color: #2845a3;
    padding: 40px 0px;
    width: 250px;
    margin: 170px auto 160px;
    box-shadow: 0 7px 0 #031c63;
}

.banner_btn:hover {
    transform: translateY(7px);
    box-shadow: none;
}


@media screen and (max-width: 767px) {
    .banner_btn p {
        font-size: 12px;
    }

    .banner_btn {
        border-radius: 27px;
        padding: 20px 0px;
        width: 150px;
        margin: 150px auto 70px;
        box-shadow: 0 5px 0 #031c63;
    }
}