@charset "utf-8";

body.hidden {
    overflow: hidden;
}

/* ヘッダー */
#HEADER {
    position: relative;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3% 0 2.5%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}

.header_logo img {
    width: 150px;
}

.top_photo img {
    width: 100%;
    height: 85px;
}

.main_photo img {
    width: 100%;
}

.pc_nav ul {
    display: flex;
    gap: 50px;
}

.pc_nav li {
    color: white;
    font-size: 16px;
    font-weight: SemiCondensed;
}

/* スマホ版メニュー */
.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width: 767px) {
    .pc_nav {
        display: none;
    }

    .header_wrap {
        padding: 0 3% 0 2.5%;
    }

    .header_logo img {
        width: 120px;
        padding-top: 17px;
    }

    .top_photo img {
        height: 100px;
    }

    .sp_btn {
        display: block;
        height: 21px;
        /* 位置の調整 */
        position: absolute;
        right: 30px;
        top: 35px;
        cursor: pointer;
        /* 重なり具合 */
        z-index: 2;
    }

    .sp_btn span {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 1px;
        background: #fff;
        /* 位置の調整 */
        position: relative;
        top: 10px;
        transition: 0.3s;
    }

    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 1px;
        background: #fff;
        /* 位置の調整 */
        position: absolute;
        transition: 0.3s;
    }

    .sp_btn span::before {
        bottom: 10px;
    }

    .sp_btn span::after {
        top: 10px;
    }

    /* バツ印 */
    .sp_btn.open span {
        background-color: transparent;
    }

    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    .sp_btn.open span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニューの見た目 */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(3, 28, 99, 0.8);
        z-index: 1;
    }

    .sp_nav li {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
    }

    .sp_nav ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }
}

/* 共通 */
h2 {
    text-align: center;
    color: #031c63;
    font-size: 32px;
    font-family: acumin-variable, sans-serif;
}

.title_img {
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
    padding-left: 100px;
}

.traj_b {
    width: 250px;
}

.plane_b {
    width: 110px;
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 20px;
        margin-top: 100px;
    }

    .traj_b {
        width: 160px;
    }

    .plane_b {
        width: 65px;
    }

    .title_img {
        margin-bottom: 50px;
        padding-left: 55px;
    }
}


/* フッター */
#FOOTER {
    position: relative;
}

.back_photo picture img {
    width: 100%;
    height: 280px;
}

.footer_wrap {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translateX(-50%);
}

.footer_wrap p {
    color: white;
    margin-top: 20px;
    font-size: 16px;
}

.footer_wrap .footer_logo {
    margin: 0 auto;
}

.footer_logo {
    width: 100%;
}

@media screen and (max-width: 767px) {

    .footer_wrap p {
        font-size: 12px;
        padding-bottom: 30px;
    }

    .footer_wrap h1 {
        width: 90px;
    }

    .footer_wrap {
        margin: 0 auto;
    }

    .back_photo {
        width: 100%;
        height: 280px;
    }

}

/* ページトップボタン */
.pagetop {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 100px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

@media screen and (max-width: 767px) {
    .pagetop {
        right: 10px;
        bottom: 50px;
        width: 80px;
    }
}