@charset "utf-8";

/* Loading背景画面設定　*/
#load .sky {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    object-fit: cover;
}

#load {
    position: relative;
}


.load_img {
    position: fixed;
    top: 50%;
    left: 0;
    width: 100vw;
    z-index: 2000;
}

/* 紙飛行機：先に飛ばす */
.load_plane {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 145px;
    height: auto;
    animation: flyAcross 5s ease-in-out forwards;
    animation-delay: 0.5s;
    z-index: 2;
}

@keyframes flyAcross {
    0% {
        transform: translateX(-80%);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    100% {
        transform: translateX(calc(100vw + 150px));
        opacity: 1;
    }
}

svg {
    width: 100vw;
    height: 100vh;
    display: block;
}

/* 軌跡 */
.load_traj {
    position: absolute;
    top: 0;
    opacity: 1;
    width: 100vw;
    height: auto;
    animation: writing 5s forwards;
    animation-delay: 1.8s;
    z-index: 1;
    stroke-dasharray: 1090px;
    stroke-dashoffset: 1090px;
}

@keyframes writing {
    0% {
        stroke-dashoffset: 1090px;
    }

    90% {
        stroke-dashoffset: 0px;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slideThenHoldFade {
    0% {
        left: -100vw;
        opacity: 1;
    }

    50% {
        left: 0;
        opacity: 1;
    }

    75% {
        left: 0;
        opacity: 1;
    }

    100% {
        left: 0;
        opacity: 0;
    }
}

/* ロゴマーク */
#load .load_logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 3000;
    animation: fadeInCenter 2s ease-in-out forwards;
    animation-delay: 7s;
}

.load_logo img {
    width: 260px;
    height: auto;
    display: block;
}

@keyframes fadeInCenter {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

/* ローディングのあと */
#load.fade-out {
    animation: fadeOut 1s ease forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}