@charset "utf-8";

h2 {
    text-align: center;
    color: #00002d;
    font-size: 70px;
    font-family: ta-koigokoro, sans-serif;
    margin-top: 185px;
    margin-bottom: 50px;
}

.thanks {
    text-align: center;
    font-size: 18px;
    margin-bottom: 100px;
}

.thanks p {
    line-height: 2.2;
}

.hand {
    width: 150px;
    margin: 0 12% 100px auto;
}

.thanks_btn p {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    padding: 40px 0px;
}

.thanks_btn {
    border-radius: 45px;
    background-color: #2845a3;
    width: 250px;
    margin: 0 auto 160px;
    box-shadow: 0 7px 0 #031c63;
}

.thanks_btn:hover {
    transform: translateY(7px);
    box-shadow: none;
}

/* 紙飛行機移動 */
.plane {
    position: absolute;
    top: 20%;
    right: 74%;
    width: 100px;
    opacity: 1;
}

.plane.fluffy {
    animation: fluffyFloat 6s cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards;
}

@keyframes fluffyFloat {
    0% {
        top: 20%;
        right: 74%;
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        top: 28%;
        right: 70%;
        transform: translate(10px, -10px) rotate(2deg);
    }

    50% {
        top: 34%;
        right: 50%;
        transform: translate(0px, -15px) rotate(-2deg);
    }

    75% {
        top: 42%;
        right: 30%;
        transform: translate(-10px, -10px) rotate(2deg);
    }

    100% {
        top: 47%;
        right: 15%;
        transform: translate(0, 0) rotate(-1deg);
    }
}

/* レスポンシブ */
@media screen and (max-width: 767px) {
    #THANKS .plane {
        width: 75px;
        margin-top: 80px;
        margin-left: 30px;
    }

    .hand {
        width: 90px;
        margin: 10px 30px 100px auto;
    }

    /* thanksの箇所 */
    h2 {
        font-size: 50px;
    }

    .thanks p {
        font-size: 14px;
        line-height: 2.2;
        /* line-height: 1.9; */
    }

    .thanks_btn p {
        font-size: 12px;
        padding: 20px 0px;
    }

    .thanks_btn {
        border-radius: 27px;
        width: 150px;
        margin: 0 auto 70px;
        box-shadow: 0 5px 0 #031c63;
    }

    /* 紙飛行機移動 */
    .plane {
        position: absolute;
        top: 17%;
        right: 80%;
        width: 70px;
        opacity: 1;
    }

    .plane.fluffy {
        animation: fluffyFloat 6s cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards;
    }

    @keyframes fluffyFloat {
        0% {
            top: 17%;
            right: 80%;
            transform: translate(0, 0) rotate(0deg);
        }

        25% {
            top: 22%;
            right: 65%;
            transform: translate(10px, -10px) rotate(2deg);
        }

        50% {
            top: 28%;
            right: 40%;
            transform: translate(0px, -15px) rotate(-2deg);
        }

        75% {
            top: 32%;
            right: 20%;
            transform: translate(-10px, -10px) rotate(2deg);
        }

        100% {
            top: 36%;
            right: 5%;
            transform: translate(0, 0) rotate(-1deg);
        }
    }
}

@media screen and (max-width: 550px) {

    #THANKS .plane {
        width: 60px;
        margin-top: 80px;
        margin-left: 30px;
    }

    .hand {
        width: 70px;
        margin: 10px 30px 100px auto;
    }

    h2 {
        font-size: 35px;
    }

    /* 紙飛行機移動 */
    .plane {
        position: absolute;
        top: 17%;
        right: 75%;
        width: 60px;
        opacity: 1;
    }

    .plane.fluffy {
        animation: fluffyFloat 6s cubic-bezier(0.45, 0.05, 0.55, 0.95) forwards;
    }

    @keyframes fluffyFloat {
        0% {
            top: 17%;
            right: 75%;
            transform: translate(0, 0) rotate(0deg);
        }

        25% {
            top: 22%;
            right: 65%;
            transform: translate(10px, -10px) rotate(2deg);
        }

        50% {
            top: 26%;
            right: 40%;
            transform: translate(0px, -15px) rotate(-2deg);
        }

        75% {
            top: 30%;
            right: 20%;
            transform: translate(-10px, -10px) rotate(2deg);
        }

        100% {
            top: 34%;
            right: 10%;
            transform: translate(0, 0) rotate(-1deg);
        }
    }
}