@charset "utf-8";

h2 {
    text-align: center;
    color: #00002d;
    font-size: 70px;
    font-family: ta-koigokoro, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.thanks {
    text-align: center;
    font-size: 18px;
    margin-bottom: 100px;
}

.thanks p {
    line-height: 2.2;
}

.plane {
    width: 100px;
    margin-top: 100px;
    margin-left: 17%;
}

.hand {
    width: 162px;
    margin: 0 12% 100px auto;
}

.thanks_btn p {
    color: #ffffff;
    font-size: 18px;
    text-align: center;
}

.thanks_btn {
    border-radius: 45px;
    background-color: #2845a3;
    padding: 40px 0px;
    width: 250px;
    margin: 0 auto 160px;
    box-shadow: 0 7px 0 #031c63;
}

.thanks_btn:hover {
    transform: translateY(7px);
    box-shadow: none;
}

@media screen and (max-width: 767px) {

    /* thanksの箇所 */
    h2 {
        font-size: 35px;
    }

    /* .thanks {
        
        /* margin-bottom: 100px; */


    .thanks p {
        font-size: 14px;
        line-height: 2.2;
        /* line-height: 1.9; */
    }

    .plane {
        width: 60px;
        /* margin-top: 100px;
        margin-left: 17%; */
    }

    .hand {
        width: 75px;
        /* margin: 0 12% 100px auto; */
    }

    .thanks_btn p {
        font-size: 12px;
    }

    .thanks_btn {
        border-radius: 27px;
        padding: 20px 0px;
        width: 150px;
        margin: 0 auto 70px;
        box-shadow: 0 5px 0 #031c63;
    }
}